In [1]:
print("Hello_world")
print

Hello_world

In [2]:
t=True
type(t)

bool

In [3]:
1==2

False

In [4]:
1>=2

False

In [5]:
1!=2

True

In [6]:
"this is string"

'this is string'

In [9]:
"this" + "is string"

'thisis string'

In [10]:
"{0} in Big {1}".format("Master", "Data")

'Master in Big Data'

In [12]:
"Data science"[0]

'D'

In [17]:
li=[]
other_li=[1,2,3]
li
other_li

[1, 2, 3]

In [19]:
li.append(1)
li

[1, 1]

In [20]:
li.append(3)
li

[1, 1, 3]

In [21]:
li.append(5)
li

[1, 1, 3, 5]

In [23]:
other_li.append(5)
other_li

[1, 2, 3, 5, 5]

In [26]:
li.pop()
li

[1, 1]

In [28]:
li[0]

1

In [29]:
li=[1,2,3,4,5]
li

[1, 2, 3, 4, 5]

In [30]:
li[1:3]

[2, 3]

In [31]:
li[:2]

[1, 2]

In [32]:
li[3:]

[4, 5]

In [33]:
li[1:]

[2, 3, 4, 5]

In [34]:
min(li)

1

In [36]:
my_set={1,2,2,3,4,5,6,7}
my_set

{1, 2, 3, 4, 5, 6, 7}

In [37]:
your_set={5,6,7,8}
your_set

{5, 6, 7, 8}

In [38]:
my_set & your_set

{5, 6, 7}

In [39]:
my_set | your_set

{1, 2, 3, 4, 5, 6, 7, 8}

In [40]:
1 in my_set

True

In [41]:
1 in your_set

False

In [42]:
tools = {"IDE": "Integrated Development Environment","REPL": "Read–Eval–Print Loop"}
tools

{'IDE': 'Integrated Development Environment',
 'REPL': 'Read\xe2\x80\x93Eval\xe2\x80\x93Print Loop'}

In [43]:
tools["REPL"]

'Read\xe2\x80\x93Eval\xe2\x80\x93Print Loop'

In [45]:
tools.keys()

['REPL', 'IDE']

In [46]:
tools.values()

['Read\xe2\x80\x93Eval\xe2\x80\x93Print Loop',
 'Integrated Development Environment']

In [50]:
a=10
b=10
if b>a:
  print("b ({0}) is greater than a ({1})".format(a,b))
elif a==b:
  print("b ({0}) is equal to a ({1})".format(a,b))
else:
  print("b ({0}) is smaller than a ({1})".format(a,b))

b (10) is equal to a (10)

In [53]:
a=10
b=10
print("w".format(a,b))

w

In [56]:
traffic_data={"2013":[2800,2900,2950,2890,3050,3030,3000],
              "2014":[2700,2915,2950,2880,3020,3030,3020],
              "2015":[2750,2910,2955,2820,3030,3080,3010],
              "2016":[2920,2950,2960,2840,3100,3100,3050],
              "2017":[2930,2940,2970,2900,3150,3300,3080]}

In [57]:
traffic_data

{'2013': [2800, 2900, 2950, 2890, 3050, 3030, 3000],
 '2014': [2700, 2915, 2950, 2880, 3020, 3030, 3020],
 '2015': [2750, 2910, 2955, 2820, 3030, 3080, 3010],
 '2016': [2920, 2950, 2960, 2840, 3100, 3100, 3050],
 '2017': [2930, 2940, 2970, 2900, 3150, 3300, 3080]}

In [59]:
traffic_data["2016"]

[2920, 2950, 2960, 2840, 3100, 3100, 3050]

In [70]:
def getdata(traffic_data):
    a=traffic_data["2016"]
    return a

In [73]:
a=getdata(traffic_data)

In [74]:
a

[2920, 2950, 2960, 2840, 3100, 3100, 3050]

In [75]:
b=min(a)

In [76]:
if b>2000:
    print("save{0}".format(b))
else:
    print("data is not saved")

save2840

In [94]:
import pandas as pd
df= pd.read_csv("C:/Users/Ecem/Desktop/BTS/BTS_MasterInBigData-master/Session_1/file_formats/simplefile.csv",names=["name","Age","country"])
df.head()
df["name"]  ## why did 0 rows convert?   (Response is follow line :)

0    column_1
1        John
2       Maria
3        Chet
4        Joan
Name: name, dtype: object

In [89]:
df["name"]

0    column_1
1        John
2       Maria
3        Chet
4        Joan
Name: name, dtype: object

In [90]:
df.shape   #row and column number

(5, 3)

In [95]:
import pandas as pd
df= pd.read_csv("C:/Users/Ecem/Desktop/BTS/BTS_MasterInBigData-master/Session_1/file_formats/simplefile.csv",names=["name","Age","country"],skiprows=1)

In [97]:
df.head()

    name   Age        country
0   John  30.0  North America
1  Maria  25.0         Europe
2   Chet  22.0           Asia
3   Joan   NaN         Europe

In [99]:
df["country"].unique()

array(['North America', 'Europe', 'Asia'], dtype=object)

In [100]:
df["Age"].min()

22.0

In [102]:
df[["name","Age"]].min()

name    Chet
Age       22
dtype: object

In [103]:
df["Age"].mean()   #unique or not?

25.666666666666668

In [104]:
df.isnull().sum()

name       0
Age        1
country    0
dtype: int64

In [105]:
df["Age"] = df["Age"].fillna(30)

In [106]:
df.isnull().sum()   #check point

name       0
Age        0
country    0
dtype: int64

In [107]:
df.dropna(subset = ['Age'])   #drop nan values

    name   Age        country
0   John  30.0  North America
1  Maria  25.0         Europe
2   Chet  22.0           Asia
3   Joan  30.0         Europe

In [114]:
import datetime 
year = datetime.datetime.now().year
df["Birthyear"] = df.apply(lambda row: year-row["Age"], axis=1)

In [115]:
df["Birthyear"]

0    1987.0
1    1992.0
2    1995.0
3    1987.0
Name: Birthyear, dtype: float64

In [117]:
import matplotlib.pyplot as plt
df["Birthyear"].hist()

In [119]:
df.loc[:,"country"]=="Europe"  # return of countries Europe or not

0    False
1     True
2    False
3     True
Name: country, dtype: bool

In [120]:
df.loc[df.loc[:,"country"]=="Europe"]   #rows that countries equal Europe

    name   Age country  Birthyear
1  Maria  25.0  Europe     1992.0
3   Joan  30.0  Europe     1987.0

In [121]:
import matplotlib.pyplot as plt
df["Birthyear"].hist()