In [10]:
import pandas as pd
df=pd.read_csv("C:/Users/Ecem/Desktop/BTS/BTS_MasterInBigData-master/Session_1/file_formats/rural_population_data.csv",names=["Continent","ElevationZone","UrbanRuralDesignation","Population1990","Population2000","Population2010","Population2100","LandArea"],skiprows=1)
df.head()

,Continent,ElevationZone,UrbanRuralDesignation,Population1990,Population2000,Population2010,Population2100,LandArea
0,Africa,Elevations > 20m or Non-Contiguous,Rural,333302081,418265923,530184094,1249908321,23749644
1,Africa,Elevations > 20m or Non-Contiguous,Urban,157846329,210381843,266776037,504662423,204719
2,Africa,Elevations Less Than or Equal To 10m,Rural,18167003,22569516,28154645,76368900,172460
3,Africa,Elevations Less Than or Equal To 10m,Urban,22412955,28679117,36746774,94042536,13838
4,Africa,Elevations Less Than or Equal To 12m,Rural,20569411,25576481,31957186,85839163,202456

In [3]:
df["Continent"].unique()

array(['Africa', 'Asia', 'Oceania', 'Europe', 'North America',
       'South America'], dtype=object)

In [7]:
df["grow rate"]=(df["Population2100"] - df["Population2000"]) / df["Population2000"]
df["grow rate"]

0      1.988310
1      1.398793
2      2.383719
3      2.279129
4      2.356176
5      2.212735
6      2.636647
7      3.411567
8      2.401295
9      2.041775
10     2.533266
11     2.968851
12     2.491768
13     2.693091
14     2.441114
15     2.472450
16     2.400774
17     2.325991
18     2.019951
19     1.517733
20     0.598382
21     0.501763
22     0.779678
23     0.495082
24     0.799481
25     0.502617
26     0.608838
27     0.389177
28     0.822584
29     0.518478
         ...
90     0.496656
91     0.376791
92     0.537458
93     0.376910
94     0.557176
95     0.433418
96     0.565522
97     0.659329
98     0.960744
99     0.389169
100    0.868260
101    0.867027
102    1.087785
103    0.912048
104    1.084155
105    0.910401
106    0.942667
107    0.833248
108    1.085945
109    0.878852
110    1.004640
111    0.735670
112    1.027591
113    0.871948
114    1.076702
115    0.905938
116    1.072007
117    0.914565
118    0.881244
119    0.868837
Name: grow rate, Length: 120, dtype: float64

In [ ]:
import matplotlib.pyplot as plt
df["grow rate"].hist()

In [10]:
df.isnull().sum()   #totally null rows

Continent                0
ElevationZone            0
UrbanRuralDesignation    0
Population1990           0
Population2000           0
Population2010           0
Population2100           0
LandArea                 0
grow rate                0
dtype: int64

In [3]:
a=df["Population2000"].mean()
a

120539097.45

In [6]:
b=df["Population2010"].mean()
b

136698712.40833333

In [7]:
c=(a+b)/2
c

128618904.92916667

In [8]:
d=df.loc[df.loc[:,"UrbanRuralDesignation"]=="Urban"]
d

,Continent,ElevationZone,UrbanRuralDesignation,Population1990,Population2000,Population2010,Population2100,LandArea
1,Africa,Elevations > 20m or Non-Contiguous,Urban,157846329,210381843,266776037,504662423,204719
3,Africa,Elevations Less Than or Equal To 10m,Urban,22412955,28679117,36746774,94042536,13838
5,Africa,Elevations Less Than or Equal To 12m,Urban,25761403,32968917,42205337,105920405,16035
7,Africa,Elevations Less Than or Equal To 1m,Urban,4056678,4791461,5915752,21137853,2193
9,Africa,Elevations Less Than or Equal To 20m,Urban,37566072,47749797,60835348,145244129,23456
11,Africa,Elevations Less Than or Equal To 3m,Urban,7194770,8762218,11005850,34775942,4662
13,Africa,Elevations Less Than or Equal To 5m,Urban,11597788,14488902,18449258,53508839,7366
15,Africa,Elevations Less Than or Equal To 7m,Urban,16197359,20564492,26333878,71409170,10121
17,Africa,Elevations Less Than or Equal To 9m,Urban,20542430,26255213,33641605,87324590,12665
19,Africa,Total National Population,Urban,195412402,258131640,327611385,649906552,228175
21,Asia,Elevations > 20m or Non-Contiguous,Urban,918668080,1175247232,1262609098,1764942637,1122788
23,Asia,Elevations Less Than or Equal To 10m,Urban,203398169,252379433,290492264,377327872,129278
25,Asia,Elevations Less Than or Equal To 12m,Urban,233147526,289429187,333361953,434901291,149673
27,Asia,Elevations Less Than or Equal To 1m,Urban,15105001,19858184,21974625,27586527,12590
29,Asia,Elevations Less Than or Equal To 20m,Urban,319318447,397909472,458321169,604216625,213823
31,Asia,Elevations Less Than or Equal To 3m,Urban,37555825,48341898,54512396,68677562,31423
33,Asia,Elevations Less Than or Equal To 5m,Urban,87109915,109542006,124916072,158748008,62383
35,Asia,Elevations Less Than or Equal To 7m,Urban,141792154,176453451,202546292,260137398,92410
37,Asia,Elevations Less Than or Equal To 9m,Urban,185617116,230392535,264967068,343068584,118075
39,Asia,Total National Population,Urban,1237986520,1573156714,1720930281,2369159274,1336611
50,Oceania,Elevations > 20m or Non-Contiguous,Urban,12547162,14195786,16912718,18658175,39148
51,Oceania,Elevations Less Than or Equal To 10m,Urban,2200753,2532995,3003692,3293517,5852
52,Oceania,Elevations Less Than or Equal To 12m,Urban,2729119,3136967,3721347,4023841,7139
53,Oceania,Elevations Less Than or Equal To 1m,Urban,92528,105767,125631,136478,227
54,Oceania,Elevations Less Than or Equal To 20m,Urban,4589488,5255982,6240084,6566734,11449
55,Oceania,Elevations Less Than or Equal To 3m,Urban,310744,361508,430433,499388,881
56,Oceania,Elevations Less Than or Equal To 5m,Urban,752050,874001,1038190,1179988,2222
57,Oceania,Elevations Less Than or Equal To 7m,Urban,1342907,1552001,1841419,2048884,3708
58,Oceania,Elevations Less Than or Equal To 9m,Urban,1945861,2240098,2656137,2937199,5173
59,Oceania,Total National Population,Urban,17136649,19451769,23152802,25224909,50597
61,Europe,Elevations > 20m or Non-Contiguous,Urban,309270561,316003549,418732932,265691431,548471
63,Europe,Elevations Less Than or Equal To 10m,Urban,33776617,34884603,39019817,32965986,50897
65,Europe,Elevations Less Than or Equal To 12m,Urban,38167942,39417882,44201162,37110048,57906
67,Europe,Elevations Less Than or Equal To 1m,Urban,9954478,10380836,11579113,9648341,15628
69,Europe,Elevations Less Than or Equal To 20m,Urban,53512695,55319289,62521646,51814850,84008
71,Europe,Elevations Less Than or Equal To 3m,Urban,16234092,16801906,18647708,15853153,24784
73,Europe,Elevations Less Than or Equal To 5m,Urban,21755340,22473128,24902148,21290248,32735
75,Europe,Elevations Less Than or Equal To 7m,Urban,26861165,27736249,30779447,26298853,40204
77,Europe,Elevations Less Than or Equal To 9m,Urban,31613048,32647909,36469169,30887023,47442
79,Europe,Total National Population,Urban,362783257,371322835,481254575,317506277,632478
81,North America,Elevations > 20m or Non-Contiguous,Urban,260535875,296757222,314603927,402225848,972417
83,North America,Elevations Less Than or Equal To 10m,Urban,24575726,27509478,28219257,46670306,61651
85,North America,Elevations Less Than or Equal To 12m,Urban,30668871,34389588,35375008,58139996,76003
87,North America,Elevations Less Than or Equal To 1m,Urban,1566679,1730214,1814077,2382101,5968
89,North America,Elevations Less Than or Equal To 20m,Urban,47379912,52995004,54253029,83639047,115225
91,North America,Elevations Less Than or Equal To 3m,Urban,4024295,4406582,4551369,6066943,12827
93,North America,Elevations Less Than or Equal To 5m,Urban,7848219,8590398,8771636,11828205,22829
95,North America,Elevations Less Than or Equal To 7m,Urban,13479682,14889220,15145037,21342474,36321
97,North America,Elevations Less Than or Equal To 9m,Urban,20649659,23006285,23449955,38174996,51825
99,North America,Total National Population,Urban,307915785,349752222,368856952,485864890,1087642
101,South America,Elevations > 20m or Non-Contiguous,Urban,146797669,176550823,203339934,329625178,270241
103,South America,Elevations Less Than or Equal To 10m,Urban,14465697,17036372,19621238,32574367,19343
105,South America,Elevations Less Than or Equal To 12m,Urban,17264014,20333114,23397554,38844410,22783
107,South America,Elevations Less Than or Equal To 1m,Urban,709558,868060,1009758,1591369,1159
109,South America,Elevations Less Than or Equal To 20m,Urban,27065733,31912544,36628423,59958936,34982
111,South America,Elevations Less Than or Equal To 3m,Urban,2117574,2538559,2938229,4406100,3758
113,South America,Elevations Less Than or Equal To 5m,Urban,5101423,6089933,7038516,11400038,8354
115,South America,Elevations Less Than or Equal To 7m,Urban,9357959,11074365,12771388,21107053,13236
117,South America,Elevations Less Than or Equal To 9m,Urban,12822897,15110534,17402616,28930098,17430
119,South America,Total National Population,Urban,173863402,208463363,239968353,389584115,306223

In [21]:
df.shape       #how is calcualte just row number?

(120, 9)